/* 

COMMON

全ページに共通のコンポーネントを定義するファイルです

*/


html, body {
    font-size: 10px;
    font-family: 'BIZ UDPGothic', sans-serif;
    color: var(--color-gray);
    background-color: var(--color-background);
}

@media (max-width: 750px) {
    html, body {
        font-size: calc(10 / 750 * 100vw);
    }
}

body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


/* ------------------------------
    サイドバー 
------------------------------ */
.sidebar {
    width: var(--sidebar-size); height: 100vh;
    font-size: 1.4rem;
    background-color: var(--color-background-side);
}

/* ヘッダー */
.header {
    width: 90%;
    margin: 10px auto 30px;
}
.header--image {
    width: 45%;
    margin: 0 auto 20px;
    display: block;
}
h1 {
    font-size: 2rem; font-weight: bold;
    text-align: center;
}


/* ------------------------------
    メインエリア 
------------------------------ */
main {
    width: calc(100vw - var(--sidebar-size)); height: 100vh;
    overflow-y: scroll;
    color: var(--color-black);
    background-color: var(--color-background);
}