/* 

PAGE-DETAILS

詳細ページのみに適用されるCSSです

*/


/* ------------------------------
    サイドバー 
------------------------------ */

.info input[type="checkbox"] {
    display: none;
}

/* トグル */
.info .toggleselect--label {
    width: 39px; height: 24px;
    margin: 0 15px;
    display: block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}
.toggleselect--label:before {
    width: 100%; height: 100%;
    content: "";
    position: absolute;
    top: 0; left: 0;
    display: block;
    background-color: #35c759;
    transition: 0.1s ease-out;
}
.toggleselect--label:after {
    content: "";
    width: 21px; height: 21px;
    position: absolute;
    top: 1.4px; left: 1.4px;
    display: block;
    border-radius: 50px;
    box-shadow: 0 4px 12px -3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: 0.1s ease-out;
}
.toggleselect:checked + .toggleselect--label:before {
    background-color: #35c759;
}
.toggleselect:checked + .toggleselect--label:after {
    left: 16px;
    box-shadow: 0 4px 12px -3px rgba(0, 0, 0, 0.5);
}
.toggleselect--box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.info--item {
    padding: 0 10px;
    margin-bottom: 20px;
}
.info--name {
    margin-bottom: 13px;
    font-size: 16px;
}
.info--content {
    margin: 0 0.5rem 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 12px; font-weight: normal;
    color: var(--color-black);
    display: inline-block;
    border-radius: 10px;
    background-color: var(--color-orange);
}




/* ------------------------------
    コンテンツ 
------------------------------ */

.main--back {
    margin: 2rem 0 4rem 4rem;
    font-size: 14px;
    color: var(--color-orange);
    display: block;
}
.main--back:hover {
    opacity: 0.7;
}
@media (max-width: 768px) {
    .main--back {
        margin: 2rem 0 10rem 4rem;
    }
}

.main--details {
    margin: 4rem;
    color: var(--color-gray);
}
.main--requester {
    margin-bottom: 2rem;
    font-size: 16px;
}
.main--title {
    margin-bottom: 2rem;
    font-size: 24px; font-weight: bold;
}
.main--url {
    margin-bottom: 2rem;
    font-size: 12px;
}
.main--text {
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}
.main--text > a {
    color: var(--color-orange);
}
.main--text > a:hover {
    opacity: 0.7;
}
.main--image {
    width: 100%;
    display: block;
    text-align: center;
}
.main--image.image--sp {
    max-width: 700px;
    margin: 0 auto;
}

.nodata {
    width: 100%;
    padding: 4rem 0;
    font-size: 20px;
    line-height: 2em;
    color: var(--color-orange-light);
    text-align: center;
    letter-spacing: 0.15em;
}
.nodata > a {
    font-size: 1.8rem;
    color: var(--color-orange);
}
.nodata > a:hover {
    opacity: 0.7;
}